<!doctype html>

<!--[if lt IE 7]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

  <head>
    <%= erb :head %>

    <title><%= pages.to_a[2][:title] %></title>

  </head>
  <body class="page page-id-7 page-template-default">

    <div id="container">

    <%= erb :admin_header %>

      <div id="content">

        <div id="inner-content" class="wrap clearfix">

          <div id="main" class="eightcol first clearfix" role="main">
            <article id="post-7" class="post-7 page type-page status-publish hentry clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">
              <p>
                <form class = 'title' action= '/admin/franchise_info' method="POST">
                  <textarea name='[title]' cols= "20" rows= "1">Franchise Info Title</textarea>
                </form>
                <input type='Submit' />
              </p>
                <header class="article-header">
                    <h1 class="page-title" itemprop="headline">
                      <p>
                      <form class = 'header' action= '/admin/frachise_info' method="POST">
                        <textarea name='franchise_info[header]' cols= "20" rows= "1">Franchise Info Header</textarea>
                      </form>
                    </h1>
                    <input type='Submit' />
                  </p>

                </header> <!-- end article header -->

                <section class="entry-content clearfix" itemprop="articleBody">
                  <p>
                    <form class = 'description' action= '/admin/franchise_info' method="POST">
                      <textarea name="franchise_info[description]" cols= "100" rows= "5">Backcountry Delicatessen’s plan of growth is to choose select locations that connect with our unique brand and philosophy. Think your community could be a good fit for a Backcountry Delicatessen? Well, we’re interested in talking with you.</textarea>
                    </form>
                    <input type='Submit' />
                  </p>

                    <form class = 'sub_description' action= '/admin/franchise_info' method="POST">
                      <textarea name="franchise_info[sub_description]" cols= "100" rows= "2">Before we do, here’s a few of our company&#8217;s primary values:</textarea>
                    </form>
                    <input type='Submit' />
                    <p>
                    <form class = 'unordered list' action= '/admin/franchise_info' method="POST">
                      <%pages.to_a[2][:list_elements].split('/').each do |element|%>
                        <textarea name='list_elements' cols= "20" rows= "1">element</textarea>
                      <%end%>
                    </form>
                    <input type='Submit' />
                  </p>

                  </p>
                  <p>
                    <form class = 'inquiry_line' action= '/admin/franchise_info' method="POST">
                      <textarea name="franchise_info[inquiry_line]" cols="100" rows="2">Contact us by clicking the button in the right sidebar to fill out a Franchise Inquiry form.</textarea>
                    </form>
                    <input type='Submit' />
                  </P>
                    <h3><strong>
                    <p>
                    <form class='start_convo' action='/admin/franchise_info' method="POST">
                      <textarea name="franchise_info[start_convo]" cols="100" rows="2">Let’s start the conversation.</textarea>
                    </form>
                    <h3></strong>
                    <input type='Submit' />
                  </p>

                </section> <!-- end article section -->

                <footer class="article-footer"> </footer> <!-- end article footer -->

                <!-- You can start editing here. -->
                <!-- If comments are closed. -->
                <!--p class="nocomments">Comments are closed.</p-->
              </article> <!-- end article -->
            </div> <!-- end #main -->

            <div id="page_sidebar" class="sidebar">
              <div id="black-studio-tinymce-6" class="widget widget_black_studio_tinymce">
                <div class="textwidget">
                  <p>
                    <script type="text/javascript" src="http://cdn.jotfor.ms/static/feedback2.js?3.1.2559">//
                    <![CDATA[
                      new JotformFeedback({
                      formId:'30908801789161',
                      base:'http://jotform.us/',
                      windowTitle:'Franchise Inquiry',
                      background:'#FFA500',
                      fontColor:'#FFFFFF',
                      type:false,
                      width:700
                      });// ]]>
                    </script>
                  </p>
                  <p>
                    <a class="lightbox-30908801789161" style="cursor: pointer; text-decoration: underline;">
                      <img class="alignleft size-full wp-image-426" alt="Learn More about Franchise Opportunities" src="http://backcountry-deli.com/wp-content/uploads/2013/02/Franchise.png" width="253" height="80" />
                    </a>
                  </p>
                  <p> </p>
                  <p style="font-size: 17px; line-height: 21px;"><img class="alignnone size-full wp-image-437" alt="backcountry-awards" src="http://backcountry-deli.com/wp-content/uploads/2013/02/backcountry-awards.jpg" width="253" height="150" />Collecting another annual haul at the Best of the Boat awards - Steamboat Springs</p>
                </div>
              </div>
            </div>

        </div> <!-- end #inner-content -->

      </div> <!-- end #content -->

      <%= erb :footer %>

    </div> <!-- end #container -->

      <!-- all js scripts are loaded in library/bones.php -->
      <%= erb :script %>
  <!--wp_footer-->
  </body>
</html>
