<!doctype html>

<!--[if lt IE 7]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

  <head>
    <%= erb :head %>

    <title><%= menu[:title] %></title>

  </head>

  <body class="page page-id-47 page-child parent-pageid-9 page-template page-template-page-menu-php">

    <div id="container">

      <%= erb :admin_header %>

      <div id="content">
        <div id="foodmenu_wrapper">
          <div class="foodmenu-left">
            <form action='/admin_menu/<%= menu[:id] %>' method='POST'>
              <h1><input type = 'text' name='title' value ='<%= menu[:title]%>'/></h1>
              <input type= 'submit' value='Update'/>
            </form>
             <div class="foodcol-1">
                <% menu_headings.each do |heading| %>
                <br/><br/>
                  <form action='/admin_menu_heading/<%= heading[:id] %>/<%= menu[:id]%>' method='POST'>
                    <input type='text' name= 'title' value="<%= heading[:title]%>"/><br/>
                    <input type='submit' value='Update'>
                  </form>
                    <% items.find_all { |i| i[:menu_heading_id] == heading[:id] }.each do |item| %>
                    <div class="food-title-area">
                      <form action='/admin_menu/title/<%= item[:id] %>/<%= menu[:id] %>' method='POST'>
                        <input type='text' name="title" value="<%= item[:title] %>"/><br/>
                        <input type='submit' value='Update'>
                      </form>
                      <form action='/admin_menu/price/<%= item[:id] %>/<%= menu[:id] %>' method='POST'>
                        <input type='text' name="price" value="<%= item[:price] %>"/><br/>
                        <input type='submit' value='Update'>
                      </form>
                      <form action='/admin_menu/description/<%= item[:id] %>/<%= menu[:id] %>' method='POST'>
                        <input type='text' name="description" value="<%= item[:description] %>"/><br/>
                        <input type='submit' value='Update'>
                      </form>
                    </div>
                  <% end %>
                <%end%>
            </div> <!--fodcol-1-->

            <div class="clearfix"></div>
          </div> <!-- foodmenu_left -->

          <%= erb :menu_right %>

          <div class="clearfix"></div>

        </div> <!-- foodmenu-wrapper -->
      </div> <!-- end #content -->

      <%= erb :footer %>


    </div> <!-- end #container -->

    <!-- all js scripts are loaded in library/bones.php -->
    <%= erb :script %>
<!--wp_footer-->
  </body>

</html> <!-- end page. what a ride! -->
