<!doctype html>

<!--[if lt IE 7]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

  <head>
  <%= erb :head %>

  <title><%= pages.to_a[0][:title] %></title>

  </head>
  <body class="page page-id-6 page-template-default">

      <div id="container">

      <%= erb :admin_header %>

        <div id="content">

          <div id="inner-content" class="wrap clearfix">

              <div id="main" class="eightcol first clearfix" role="main">

                <article id="post-6" class="post-6 page type-page status-publish hentry clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">
                  <form class = 'title' action= '/admin_story/title' method="POST">
                    Title:<br/>
                    <textarea name='title' cols= "30" rows= "1"><%= pages.to_a[0][:title]%></textarea>
                    <input type='submit'/>
                  </form>
                <header class="article-header">
                      <form class = 'header' action= '/admin_story' method="POST">
                        <p> Header:<br/>
                          <textarea name='header' cols= "20" rows= "1"><%=pages.to_a[0][:header]%></textarea>
                        <input type='submit' value='Update'/>

                      </form>
                    </p>
                </header> <!-- end article header -->

                  <section class="entry-content clearfix" itemprop="articleBody">
                    <p>
                      <form class = 'body' action= '/admin_story' method="POST">
                        <textarea name='main_body' cols= "100" rows= "10"><%=pages.to_a[0][:main_body]%></textarea>
                      <input type='submit' value='Update'/>
                      </form>
                    </p>
                    <p>
                      <form class = 'header' action= '/admin_story' method="POST">
                        <textarea name='sub_heading' cols= "35" rows= "1"><%=pages.to_a[0][:sub_heading]%></textarea>
                      <input type='submit' value='Update'/>
                      </form>
                    </p>
                        <p>
                          <img class="alignleft size-full wp-image-482" alt="New Logo, Same Values" src="http://backcountry-deli.com/wp-content/uploads/2013/02/2logos.jpg" width="188" height="252" />
                          <form class = 'image_description' action= '/admin_story' method="POST">
                            <textarea name='image_description1' cols= "60" rows= "1"><%=pages.to_a[0][:image_description1]%></textarea>
                          <input type='submit' value='Update'/>
                          <form>
                        </p>
                        <p>
                          <form class = 'body' action= '/admin_story' method="POST">
                            <textarea name='sub_body' cols= "70" rows= "7"><%=pages.to_a[0][:sub_body]%></textarea>
                          <input type='submit' value='Update'/>
                          </form>
                        </p>
                </section> <!-- end article section -->

                  <footer class="article-footer"> </footer> <!-- end article footer -->

  <!-- You can start editing here. -->



    <!-- If comments are closed. -->
    <!--p class="nocomments">Comments are closed.</p-->




                </article> <!-- end article -->


              </div> <!-- end #main -->
                <div id="page_sidebar" class="sidebar">
      <div id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
        <div class="textwidget">
          <p style="font-size: 17px; line-height: 21px;">
            <img class="alignnone size-full wp-image-422" alt="Dave-and-Pete-1999" src="http://backcountry-deli.com/wp-content/uploads/2013/02/Dave-and-Pete-1999.jpg" width="253" height="150" />
            <form class= 'image_description' action= '/admin_story' method = "POST">
              <textarea name="image_description2" cols= "30" rows= '2'><%=pages.to_a[0][:image_description2]%></textarea>
              <input type='submit' value='Update'/>
            </form>
          </p>
          <p style="font-size: 17px; line-height: 21px;">
            <img class="alignnone  wp-image-402" alt="BackcountryDeli-Skiing" src="http://backcountry-deli.com/wp-content/uploads/2013/02/BackcountryDeli-Skiing-e1364560089235-300x178.jpg" width="253" height="150" />
            <form class= 'image_description' action= '/admin_story' method = "POST">
              <textarea name="image_description3" cols= "30" rows= '1'><%=pages.to_a[0][:image_description3]%></textarea>
              <input type='submit' value='Update'/>
            </form>
          </p>
          <p>
            <a href="http://backcountry-deli.com/wp-content/uploads/2013/02/BSD-Creed-small.png" >
              <img class="alignnone size-full wp-image-458" alt="BSD-Creed-small" src="http://backcountry-deli.com/wp-content/uploads/2013/02/BSD-Creed-small.png" width="253" height="363" />
            </a>
          </p>
          <p> </p>
        </div>
      </div>
    </div>

          </div> <!-- end #inner-content -->

        </div> <!-- end #content -->

      <%= erb :footer %>

      </div> <!-- end #container -->

      <!-- all js scripts are loaded in library/bones.php -->
      <%= erb :script %>
  <!--wp_footer-->
    </body>
</html>
