<!doctype html>

	<!--[if lt IE 7]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
	<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
	<!--[if gt IE 8]><!--> <html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

	<head>
		<%= erb :head %>

		<title>Catering - Backcountry Delicatessen</title>

	</head>

	<body class="page page-id-299 page-child parent-pageid-9 page-template page-template-page-menu-php">

		<div id="container">

			<%= erb :header %>

			<div id="content">
				<div id="foodmenu_wrapper">
					<div class="foodmenu-left">
						<h1>Catering Menu</h1>
				    <div class="foodcol-1">
							<span class="food-type">Sandwich Trays</span>
							</p>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Breakfast Sandwich Tray</span></strong>
									<span class="toasted"></span><span class="food-price">30.00</span><br />
									2 bacon, 2 ham &amp; 2 veggie hot egg sandwiches
								</p>
							</div> <!-- food-title-area -->
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Classic Sandwich Tray</span></strong>
									<span class="toasted"></span><span class="food-price">62.95</span><br />classic deli sandwiches; includes turkey, ham, roast beef, corned beef, prepared with choice cheeses, lettuce &amp; tomato
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Custom Sandwich Tray</span></strong><span class="toasted"></span><span class="food-price">72.95</span><br />
									create your own custom tray from our specialty sandwich menu; choose 6 sandwiches
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Signature Sandwich Tray</span></strong><span class="toasted"></span><span class="food-price">69.95</span><br />
									make it easy, let us choose our most popular choices
								</p>
							</div>
							<p>
								<span class="food-type">Salads for Group</span>
							</p>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Panzanella</span></strong><span class="toasted"></span><span class="food-price">45.00</span><br />
									artichoke hearts, grape tomatoes, capers, chevre, fresh croutons, served on a bed of field greens with our house balsamic vinaigrette.
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Greek Salad</span></strong>
									<span class="toasted"></span><span class="food-price">49.00</span><br />
									cucumber, pepperoncini, kalamata olives, red onion, grape tomatoes, feta, served on a bed of field greens with our house balsamic vinaigrette.
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Chicken Caesar</span></strong><span class="toasted"></span><span class="food-price">49.00</span><br />
									sliced chicken breast served on a bed of crisp romaine lettuce, fresh croutons &amp; shaved asiago cheese with our house caesar dressing
								</p>
							</div>
							<div class="food-title-area">
								<p><strong><span class="food-title">Cobb Salad</span></strong><span class="toasted"></span><span class="food-price">53.00</span><br />
									fresh cubed chicken breast, bacon, avocado, chopped hard-boiled egg, grape tomatoes, red onion, crumbled blue cheese, served on a bed of field greens with our house buttermilk ranch dressing
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Garden Salad</span></strong>
									<span class="toasted"></span><span class="food-price">39.00</span><br />
									cucumbers, carrots, grape tomatoes, and red onion served over a bed of field greens, served with a side of balsamic and ranch dressing
								</p>
							</div> <!-- food-title-area -->
						</div> <!-- food-col-1 -->
						<div class="foodcol-2">
							<span class="food-type">Box Lunches (each)</span>
							</p>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Soup &amp; Salad Box Lunch</span></strong>
									<span class="toasted"></span><span class="food-price">10.95</span><br />
									cup of fresh made soup, choice of half salad &amp; fresh baked dessert
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Soup &amp; Sandwich Box Lunch</span></strong>
									<span class="toasted"></span><span class="food-price">10.95</span><br />
									cup of fresh made soup, choice of half sandwich, chips &amp; fresh baked dessert
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Salad Box Lunch</span></strong>
									<span class="toasted"></span><span class="food-price">10.95</span><br />
									your choice of greek, cobb, chicken caesar, panzanella, or garden salad; includes french baguette &amp; fresh baked dessert or apple
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Day Hiker Box Lunch</span></strong>
									<span class="toasted"></span><span class="food-price">10.25</span><br />
									a classic deli sandwich on french bread, choice of ham, turkey, roast beef, or veggie, with lettuce, tomato, onion, cheddar cheese, mustard &amp; mayonnaise on side; includes pickle spear, chips, &amp; fresh baked dessert
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Backpacker Box Lunch</span></strong>
									<span class="toasted"></span>
									<span class="food-price">10.95</span><br />
									a sandwich of your choice from our specialty sandwich menu; includes pickle spear, chips &amp; fresh baked dessert
								</p>
							</div>
							<p>
								<span class="food-type">Sides (each)</span>
							</p>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Deli Salads – Small</span></strong>
									<span class="toasted"></span>
									<span class="food-price">2.50</span><br />
									potato salad &amp; coleslaw made fresh daily, half-pint
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Deli Salads – Large</span></strong>
									<span class="toasted"></span><span class="food-price">4.00</span><br />
									potato salad &amp; coleslaw made fresh daily, pint
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Potato Chips</span></strong>
									<span class="toasted"></span>
									<span class="food-price">1.30</span><br />
									sea salt, salt &#038; vinegar, barbeque, jalapeno, Sun Chips
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Desserts</span></strong>
									<span class="toasted"></span>
									<span class="food-price">1.75 each</span><br />
									Freshly baked chocolate chip cookies, oatmeal raisin cookies, and fudge brownies
								</p>
							</div> <!-- food-title-area -->
						</div> <!-- food-col-2 -->
						<div class="foodcol-3">
							<span class="food-type">Drinks (each)</span>
							</p>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Fountain Drinks</span></strong>
									<span class="toasted"></span><span class="food-price">2.50</span><br />
									Pepsi, Diet Pepsi, Dr Pepper, Diet Dr Pepper, Mountain Dew, Diet Mountain Dew
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Izze</span></strong>
									<span class="toasted"></span><span class="food-price">2.50</span><br />
									Blackberry, Grapefruit, Pomegranate, Clementine
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">San Pellegrino</span></strong>
									<span class="toasted"></span><span class="food-price">2.50</span><br />
									Limonata, Aranciata, Blood Orange, Sparkling (500 ml + .50)
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Arizona Iced Tea</span></strong>
									<span class="toasted"></span><span class="food-price">3.00</span><br />
									24 oz
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Bottled Water</span></strong>
									<span class="toasted"></span><span class="food-price">2.00</span>
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">Fresh-brewed Iced Tea</span></strong>
									<span class="toasted"></span><span class="food-price">1.50</span>
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">100 oz Iced Tea Carrier</span></strong>
									<span class="toasted"></span><span class="food-price">15.00</span>
								</p>
							</div>
							<div class="food-title-area">
								<p>
									<strong><span class="food-title">100 oz Coffee Carrier</span></strong><span class="toasted"></span><span class="food-price">15.00</span><br />
									we proudly serve our custom, Colorado roasted Backcountry Bold coffee
								</p>
							</div> <!-- food-title-area -->
						</div> <!-- food-col-1 -->
						<div class="clearfix"></div>
					</div> <!-- foodmenu_left -->

					<<%= erb :menu_right %>


				</div> <!-- foodmenu-wrapper -->
			</div> <!-- end #content -->
			<%= erb :footer %>
		</div> <!-- end #container -->
		<!-- all js scripts are loaded in library/bones.php -->
		<%= erb :script %>
		<!--wp_footer-->
	</body>
</html> <!-- end page. what a ride! -->
