<!doctype html>

<!--[if lt IE 7]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

	<head>
		<%= erb :head %>

		<title><%= menu[:title] %></title>

	</head>
	<body class="page page-id-49 page-child parent-pageid-9 page-template page-template-page-menu-php">

		<div id="container">

			<%= erb :header %>

			<div id="content">
				<div id="foodmenu_wrapper">
					<div class="foodmenu-left">
						<h1><%= menu[:title] %></h1>
					  <div class="foodcol-1">
							<span class="food-type"></span>
							<div class="food-title-area">
								<p>
									<span class="food-type"><%= menu_headings[0][:title] %></span><span class="toasted"></span><span class="food-price"></span><br />
									<% items.find_all { |i| i[:menu_heading_id] == menu_headings[0][:id] }.each do |item| %>
									<%= item[:title] %><br/>
									<% end %>
								</p>
							</div><!-- food-title-area -->
							<div class="food-title-area">
								<p>
									<span class="food-type"><%= menu_headings[1][:title] %><</span><span class="toasted"></span>
									<span class="food-price"></span><br />
									<% items.find_all { |i| i[:menu_heading_id] == menu_headings[1][:id] }.each do |item| %>
									<%= item[:title] %><br/>
									<% end %>
								</div>
							</div><!-- food-title-area -->

						<div class="foodcol-2">
							<span class="food-type"></span></p>
							<div class="food-title-area">
								<p>
									<span class="food-type"><%= menu_headings[2][:title] %></span>
									<span class="toasted"></span><span class="food-price"></span><br />
									<% items.find_all { |i| i[:menu_heading_id] == menu_headings[2][:id] }.each do |item| %>
									<%= item[:title] %><br/>
									<% end %>
								</div>
							</div> <!-- food-title-area -->
						<div class="foodcol-3">
							<span class="food-type"></span></p>
								<div class="food-title-area">
									<p>
										<span class="food-type"><%= menu_headings[3][:title] %></span>
										<span class="toasted"></span><span class="food-price"></span><br />
										<% items.find_all { |i| i[:menu_heading_id] == menu_headings[3][:id] }.each do |item| %>
										<%= item[:title] %><br/>
										<% end %>
									</div>
								<div class="food-title-area">
									<p>
										<span class="food-type"><%= menu_headings[4][:title] %></span></span>
										<span class="toasted"></span><span class="food-price"></span><br />
										<% items.find_all { |i| i[:menu_heading_id] == menu_headings[4][:id] }.each do |item| %>
										<%= item[:title] %><br/>
										<% end %>
									</div>
								</div> <!-- food-title-area -->
							<div class="clearfix">
						</div>
					</div> <!-- foodmenu_left -->

					<%= erb :menu_right %>
					<div class="clearfix"></div>
				</div> <!-- foodmenu-wrapper -->
			</div> <!-- end #content -->

			<%= erb :footer %>


		</div> <!-- end #container -->

		<!-- all js scripts are loaded in library/bones.php -->
		<%= erb :script %>
		<!--wp_footer-->
	</body>
</html> <!-- end page. what a ride! -->
